<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Squada+One&display=swap" rel="stylesheet">
</head>
<body>
<div class="topnav">
    <ul class="topnav">
        <div class="nav-item"><li><a <% if (title === 'Home') { %>class="active" <% } %> href="/">Home</a></li></div>
        <div class="nav-item"><li><a <% if (title === 'About') { %>class="active" <% } %> href="/about">About</a></li></div>
        <div class="nav-item"><li><a <% if (title === 'Projects') { %>class="active" <% } %> href="/projects">Projects</a></li></div>
        <div class="nav-item"><li><a <% if (title === 'Contact') { %>class="active" <% } %> href="/contact">Contact</a></li></div>
    </ul>
</div>

<div class="container-01">