<% include partials/header %>

<div id="about-container">
    <h1>About Us</h1>
<!--    <hr>-->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis nisl leo. Suspendisse erat lorem, consectetur et posuere sit amet, imperdiet sit amet risus. Aliquam placerat, purus eu tincidunt faucibus, nunc elit congue neque, sed interdum ex erat ut ligula. Vivamus in interdum dui, nec accumsan tortor. Aenean ultricies odio ut velit malesuada, interdum mattis nisi viverra. Curabitur cursus luctus enim, sed rhoncus lectus dignissim a. Sed fringilla consequat eros ac faucibus. Proin porta orci et viverra hendrerit. Suspendisse fermentum risus vitae ullamcorper efficitur. Sed pulvinar diam nec risus interdum, ut rutrum arcu euismod. Suspendisse ut odio tellus. Nullam pretium mi nec lorem suscipit dictum. Donec pulvinar lorem at justo venenatis, ac rutrum sem commodo. Aenean id maximus est. Aliquam pretium pulvinar imperdiet.</p>
</div>


<% include partials/footer %>