<% include partials/header %>

<div id="landing-header">
  <h1>IMAGINE</h1>
  <hr id="landing-hr">
  <div id="landing-paragraph-button">
    <p>Custom, professional websites and applications.</p>
    <div id="landing-button">
      <a href="/contact">Start a Project</a>
    </div>
  </div>
</div>

<% include partials/footer %>
