<% include partials/header %>

<div class="landing">
  <h1>Imagine</h1>
  <div class="landing-container">
    <p>Custom. Professional. Websites.</p>
    <div class="landing-button">
      <a href="/contact">Get a Quote</a>
    </div>
  </div>
</div>

<% include partials/footer %>
