<% include partials/header %>

<div id="landing-container">
  <h1>Imagine</h1>
<!--  <hr id="landing-hr">-->
  <div id="landing-paragraph-button">
    <p>Custom. Professional. Websites.</p>
    <div id="landing-button">
      <a href="/contact">Get a Quote</a>
    </div>
  </div>
</div>

<% include partials/footer %>
