<% include partials/header %>

<div id="landing-header">
  <h1>IMAGINE</h1>
  <hr>
  <div id="landing-paragraph-button">
    <p id="landing-paragraph">Custom, professional websites and applications.</p>
    <div id="landing-button">
      <a href="/contact">Start a Project</a>
    </div>
  </div>
</div>

<% include partials/footer %>
