<% include partials/header %>

<div class="container">
    <h1>Projects</h1>
    <hr>
    <p>Take a look at our recent projects.</p>
    <div class="card">
        <a href="https://www.starwars.com/">
            <img src="/images/starwars.png" alt="Avatar" style="width:100%">
        </a>
        <div class="card-container">
            <h4><b>StarWars.com</b></h4>
            <p>Interactive website for the world's leading space opera franchise.</p>
        </div>
    </div>
    <div class="card">
        <a href="https://twitter.com/home">
            <img src="/images/twitter.png" alt="Avatar" style="width:100%">
        </a>
        <div class="card-container">
            <h4><b>Twitter.com</b></h4>
            <p>Social media application for global-scale conversations.</p>
        </div>
    </div>
    <div class="card">
        <a href="https://www.torontopubliclibrary.ca/">
            <img src="/images/library.png" alt="Avatar" style="width:100%">
        </a>
        <div class="card-container">
            <h4><b>Toronto Public Library</b></h4>
            <p>Website with searchable book archives and user checkout.</p>
        </div>
    </div>
</div>

<% include partials/footer %>