<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Projects</h1>
<p>Welcome to the project gallery!</p>
</body>
</html>