/*------ HTML ------*/
html {
  background-image: url("/images/iri-background-long.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

/*------ BODY ------*/
body {
  color: white;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*------ GLOBAL ------*/
a {
  color: #00B7FF;
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 80px;
  margin-bottom: 15px;
  margin-top: 15px;
}

h4 {
  margin-top: 5px;
  margin-bottom: 0;
}

hr {
  background-color: white;
  border-width: 0;
  height: 2px;
}

img {
  border-radius: 5px 5px 0 0;
}

input {
  height: 45px;
}

.body-container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
}

.container {
  margin: 40px 0 0 100px;
  width: 60%;
}

/*------ NAVBAR ------*/

div.topnav {
  width: 40%;
  margin: auto;
}

ul.topnav {
  list-style-type: none;
  margin: 10px 0 0 0;
  overflow: hidden;
  padding: 0;
}

ul.topnav li {
  border: 2px solid white;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0 1% 0 1%;
  width: 23%;
}

ul.topnav li a {
  border-radius: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 14px;
  padding: 14px 0;
  text-decoration: none;
}

ul.topnav li a.active {
  background-color: white;
  color: rgb(175, 215, 217);
}

ul.topnav li a:hover:not(.active) {
  color: rgb(175, 215, 217);
  background-color: white;
}

/*------ LANDING ------*/

.landing {
border-radius: 40px;
font-size: 20px;
height: 300px;
left: 50%;
margin: auto;
position: absolute;
top: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
width: 40%;
}

.landing-container {
margin: 30px 10px 30px 10px;
}

.landing-button {
display: block;
width: 175px;
margin: 30px auto auto auto;
border-radius: 40px;
border: 2px solid white;
}

.landing-button:hover {
  background-color: white;
}

.landing-button a {
display: block;
color: white;
padding: 14px 16px;
text-decoration: none;
font-size: 20px
}

.landing-button a:hover {
color: rgb(243, 125, 132);
}

/*------ PROJECTS ------*/

.card {
  background-color: #666;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 15px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card:hover > .overlay {
  background-color:#000;
  border-radius:30px;
  height:100%;
  opacity:0.5;
  position:absolute;
  width:100%;

}

.card-container {
  padding: 2px 16px;
}

.card-container p {
  font-size: 14px;
  margin-top: 8px;
}

/*------ CONTACT ------*/
.contact-container {
  margin: 40px 0 0 100px;
  width: 60%;
}

.contact-container hr {
  max-width: 600px;
}

.contact-form {
  margin-top: 40px;
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-size: 18px;
  margin-bottom: 16px;
  min-width: 400px;
  outline: none;
  width: 60%;
}

.submit {
  background: transparent;
  border: 2px solid white;
  border-radius: 40px;
  display: block;
  color: white;
  font-size: 20px;
  height: 51px;
  margin: 30px auto 20px auto;
  padding: 0;
  width: 200px;

}

.submit:focus {
  outline: 0;
}

.submit:hover {
  color: rgb(243, 125, 132);
  background-color: white;
  cursor: pointer;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

/*------ MEDIA QUERIES ------*/

@media screen and (max-width: 1200px) {
  div.topnav {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    margin: auto;
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  html {
    background-image: url("/images/iri-background-xlong.png");
  }
  div.topnav {
    width: 100%;
  }
  ul.topnav {
    margin: 0;
  }
  ul.topnav li.right, ul.topnav li {
    float: none;
    border-radius: 0;
    width: 100%;
    margin: 0;
    border-top: none;
  }
  ul.topnav li a {
    border-radius: 0;
  }
  .landing-container {
    margin-top: 40px;
  }
  .contact-container {
    margin: auto;
    width: 95%;
  }
  .contact-container hr {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 95%;
  }
}